name: Deploy Application
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2


    - name: Deploy Using SSH
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: 147.93.25.54
        username: u766532697
        password: y7d2J/zf2m1M
        port: 65002
        
        script: |
          mkdir -p /home/u766532697/domains/te.maidan.events/public_html
          cd /home/u766532697/domains/te.maidan.events/public_html
          git pull origin main
          composer install --optimize-autoloader --no-dev --no-progress --no-interaction --prefer-dist
          php artisan migrate --force
          php artisan optimize:clear
