name: Deploy Laravel to Shared Hosting (Demo)

on:
  push:
    branches: ["main"]  # كل ما تدفع main يعمل deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: composer update
        run: composer update
      - name: Install Dependencies
        run: composer install --no-dev --optimize-autoloader
      - name: Generate key
        run: php artisan key:generate

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, intl, pdo_mysql, curl, dom

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Build Laravel
        run: |
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          php artisan optimize

      - name: Deploy to Shared Hosting (Demo)
        uses: SamKirkland/FTP-Deploy-Action@v4.0.0

        with:
          server: ftp://147.93.25.54
          username: u766532697.na
          password: +4SNQ1hhTri&!IZl
          server-dir: /home/u766532697/domains/na.maidan.events/public_html
          exclude: |
            **/.git*
            **/node_modules/**
            **/tests/**


